<md-card>
    <md-card-title style="padding:15px">
        <md-card-title-text>
            <span class='md-title'>About us</span>
        </md-card-title-text><br>
    </md-card-title>
    <md-card-content>
        <p>Information on the original creators of this application can be found <a href="https://github.com/RSchneyer/scoutingfrc/blob/master/README.md">here</a>.</p>>
        <br />
        <p>This version was <a href="https://github.com/TCRobotics7021/scoutingfrc">forked</a> from their repository by <a href="https://tcrobotics.tech">FRC team 7021</a>.</p>
        <br />
        Please contact <a href="mailto:trempcorobotics@gmail.com">TC Robotics</a> with any questions or issues.
    </md-card-content>
</md-card>